<mat-card>
    <form (submit)="onAddBook(bookForm)" #bookForm="ngForm">
      <mat-form-field>
          <label> Book Title</label>
        <input
          matInput
          type="text"
          name="title"
          ngModel
          required
          #title="ngModel">
      </mat-form-field>
      <mat-form-field>
          <label>BookYear</label>
        <textarea
          matInput
          name="year"
          ngModel
          required
          #content="ngModel"></textarea>
      </mat-form-field>
      <mat-form-field>
          <label>Book Code</label>
        <textarea
          matInput
         rows="4"
          name="code"
          ngModel
          required
          #code="ngModel"></textarea>
      </mat-form-field>
      <mat-form-field>
        <input
        matInput
        name="date"
        ngModel
        [matDatepicker]="picker"
        placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>

      </mat-form-field>
      <button
        mat-raised-button
        color="accent"
        type="submit">Save Book</button>
    </form>
  </mat-card>
